@media only screen and (max-width: 1030px) {
    /* .slides{
        width: 104% !important;
    }
    #welcome{
        width: 104% !important;
    }
    #hobby{
        width: 104% !important;
    }
    .Slide{
        width: 52vw !important;
    } */
    #titleBar{
        width: 97%;
    }
    /* #formDiv{
        width: 104% !important;
    } */
    #distance{
        height: 550px !important;
    }
    #difference{
        height: 10vh !important;
    }
    .test{
        margin-left: 75% !important;
    }
    .previousArrow{
        margin-top: 25% !important;
    }
    .nextArrow{
        margin-top: 25% !important;
    }
}


@media only screen and (max-width: 716px) {
    #menuIcon{
        opacity: 1 !important;
        padding: 9px !important;
    }
    #titleLogo{
        opacity: 0 !important;
        width: 0px !important;
    }
    .bars{
        opacity: 0 !important;
        font-size: 0px;
    }
    #welcome{
        height: auto !important;
    }
    #hobby{
        height: auto !important;
    }
    #welcomeTextDiv{
        float: none !important;
        width: 90% !important;
        margin-left: 5% !important;
    }
    #slideshowWelcome{
        width: 100% !important;
        float: none !important;
        height: 50vh !important;
        margin-left: 0% !important;


    }
    .Slide{
        width: 100vw !important;
    }
    #hobbyTextDiv{
        float: none !important;
        width: 90% !important;
        margin-left: 5% !important;
    }
    #slideshowHobby{
        width: 100% !important;
        height: 50vh !important;

        float: none !important;
        margin-left: 0% !important;

    }
    .nextArrow{
        width: 50px !important;
        margin-top: 15vh !important;

    }
    .previousArrow{
        width: 50px !important;
        margin-top: 15vh !important;
    }
    .test{
        margin-left: 77% !important;
    }
    #projectsDiv{
        width: 100% !important;
        margin-left: 0% !important;
    }
    #projectDiv{
        float: none !important;
        width: 100% !important;

    }
    #selectionDiv{
        float: none !important;
        width: 100% !important;
    }
    #form{
        width: 90% !important;
        margin-left: 5% !important;
    }
    #distance{
        height: 1000px !important;
    }
}


.break{
    height: 0%;
    width: 0%;
}
body{
    font-family: 'Barlow' ;
    background-color: rgb(250, 250, 250);
    margin: 0%;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.bars{
    float: left;
    margin: 0%;
    padding: 25px;

    transition: background-color .5s;
    background-color: rgb(255,255,255);
    color: black;
    font-weight: lighter;
}
.bars2{
    margin: 0%;
    padding: 25px;
    opacity: 1;
    transition: background-color .5s;
    background-color: rgb(255,255,255);
    color: black;
    font-weight: lighter;
}

.bars:hover{background-color: rgb(240,240,240);}
/* h2:first-child{font-weight: bold;} */

label{
    font-size: 25px;
}
textarea{
    width: 98%;
    border-radius: 5px 5px 5px;
    font-size: 25px;
    border: none;
    padding: 1%;
    margin-top: 2%;

}
a{
    text-decoration: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(190,190,190);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(190,190,190);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(190,190,190);
}
input{
    padding: 1%;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px 5px 5px;
    width: 98%;
    border: none;


}
#projectImg{
    width: 85%;
    border-radius: 5px 5px 5px;


}
#formDiv{
    width: 100%;
    background-color: rgb(103, 169, 172); 
    padding-bottom: 5%;
}
#form{
    width: 40%;
    margin-left: 30%;
    
}


#projectsDiv{
    width: 60%; 
    margin-left: 20%; 
    background-color: rgb(103, 169, 172); 
    overflow: hidden;
    border-radius: 5px 5px 5px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
}

#fancyButton{
    margin-left: 10%;
    width: 79.5%;
    padding: .25%;
    background-color: rgb(103, 169, 172); 
    border-radius: 10px 10px 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .5s;
    /* transition: width .5s; */

}
#fancyButton:hover{
    width: 84.5%;
    margin-left: 7.5%;


}
.fancyButtonText{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 40px;
    position: relative;
}
#menuIcon{
    opacity: 0;
    border: none;
    background-color: inherit;
    width: 60px;
    float: left;
}
#titleBar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}
#titleLogo{
    float: left;
    width: 60px;
    padding: 9px;
}
#autograph{
    position: absolute;
    margin-top: 20%;
    width: 100%;
}
#introDownArrow{
    width: 100px;
    margin-top: 0%;
    transition: margin-top 1s;
}
#introDownArrow:hover{
    margin-top: 10%;
}
#class{
    font-size: 50px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
}
#welcome{
    width: 100%;
    background-color: rgb(103, 169, 172);
    overflow: auto;
    height: 50vh;
}
#welcomeText{
    font-size: 25px;
}
#welcomeTextDiv{
    width: 40%;
    margin-left: 3%;
    padding: 2%;
    float: left;
}
#slideshowWelcome{
    margin-left: 3%;
    width: 50%;
    float: left;
}

#hobby{
    width: 100%;
    overflow: auto;
    height: 50vh;
    background-color: rgb(230,230,230);
}
#hobbyText{
    font-size: 25px;
}
#hobbyTextDiv{
    width: 40%;
    margin-left: 3%;
    padding: 2%;
    float: right;
}
#slideshowHobby{
    width: 50%;
    margin-right: 3%;
    float: right;
}
.sudokuImg{
    float: left;
    margin-left: 5%;
    width: 40%;
    margin-top: 0%;
}
.listProject{
    padding: 1%;
    font-size: larger;
}
.project2Button{
    padding: 4%;
    background-color: cadetblue;
    text-decoration: none;
    color: black;
    border-radius: 5px 5px 5px;
    text-align: center;
}

.previousArrow{
    position: absolute;
    z-index: 2;
    width: 50px;
    margin-top: 10%;
    transition: margin-left .5s;
}
.previousArrow:hover{
    margin-left: -1%;
}
.test{
    margin-left: 88%;
}
.nextArrow{
    position: absolute;
    z-index: 2;
    width: 50px;
    margin-top: 10%;
    transition: margin-left .5s;
}
.nextArrow:hover{
    margin-left: 1%;
}
.Slide{
    width: 50%;
    height: 50vh;
    position: absolute;
    object-fit: cover;
}
.goneSlides{
    opacity: 0;
    position: absolute;
    left: -100%;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.slides{
    z-index: -1;
    opacity: .8;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0%;
	left: 0%;

}
.fadeOut{
    animation: fadeOut 1s;
    opacity: 0;
}
.fadeIn{
    animation: fadeIn 1s;
    opacity: 1;
}

.disappear{
    width: 100%;
    
	animation: slideOut 1.5s;
	-webkit-animation: slideOut 1.5s ease-in-out;
	top: 0%;
	left: -100%;
}
.appear{
	width: 100%;
	animation: slideIn 1.5s;
	-webkit-animation: slideIn 1.5s ease-in-out;
	top: 0%;
	left: 0%;
}
.nothing{
    left: -100%;
    top: 0%;
    width: 100%;
}
.forhover{
    background-color: rgb(103, 169, 172);

    transition: backgroundColor 1s;
}

.projectButton{
    border: none;
    background-color: inherit;
    font-size: 25px;
    margin: 5%;
}
projectImage{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes slideOut{
	0%{left: 0%;}
	100%{left: -100%;}
}
@keyframes slideIn{
	0%{left: 100%;}
	100%{left: 0%;}
}

@-webkit-keyframes slideIn{
	0%{left: 100%;}
	100%{left: 0%;}
}
@-webkit-keyframes slideOut{
	0%{left: 0%;}
	100%{left: -100%;}
}
