.triangle-to-contact {
    height: 5vh;
    width: 100%;
    fill: rgb(231, 106, 116);
    z-index: 0;

    position: relative;
    top: calc(-5vh + 1px);
    /* background-color: white; */
}
.total-contact-div {
    height: auto;
    background-color: rgb(231, 106, 116);
}
.icon-container {
    width: 80%;
    margin-left: 10%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.icon-container svg {
    width: 5rem;
    height: 5rem;
    fill: black;
    transition: all 0.25s;
}

.icon-container svg:hover {
    width: 6rem;
    height: 6rem;
}
.final-title {
    margin-top: 5rem;
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 0px;
}
