.about-section-container {
    display: flex;
    width: 100%;
    height: 75vh;
    flex-direction: row;
    justify-content: center;
    padding-top: 10%;
}
.about-slideshow-container {
    width: 30%;
    height: 100%;
    /* padding-top: 10%; */
}
.about-text-container {
    /* padding: 10%; */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
}
.link {
    color: black;
    text-decoration: underline solid;
    text-decoration-color: var(--accent);
}
