label{
    font-size: 25px;
}
textarea{
    width: 98%;
    border-radius: 5px 5px 5px;
    font-size: 25px;
    border: none;
    padding: 1%;
    margin-top: 2%;

}
.contactTitle{
    font-size: 50px;
}
.lowDisclaimer{
    width: 99.5%;
    padding: .25%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(190,190,190);
    font-family: 'Commissioner', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(190,190,190);
    font-family: 'Commissioner', sans-serif;

}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(190,190,190);
    font-family: 'Commissioner', sans-serif;

}
input{
    padding: 1%;
    font-size: 25px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px 5px 5px;
    width: 98%;
    border: none;


}
.formDiv{
    width: 100%;
    background-color: rgb(103, 169, 172); 
    padding-bottom: 5%;
}
form{
    width: 60vw;
    margin-left: 20vw;
}