@media only screen and (max-width: 738px) {
    #menuIcon{
        opacity: 1 !important;
        margin-left: 1%;
    }
    .bars{
        display: none !important;
        opacity: 0 !important;
        transition: opacity 1s !important;

    }
    #titleLogo{
        display: none !important;
    }
    .showSelector{
        float: left !important;
        width: 60% !important;
        display: inline !important;
        padding-top: 10px !important;
        padding-bottom: 12px !important;

        opacity: 1 !important;
    }

}

#titleBar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    top: 0vh;
}
#menuIcon{
    opacity: 0;
    border: none;
    background-color: inherit;
    width: 60px;
    float: left;
}
#titleLogo{
    float: left;
    width: 60px;
    padding: 9px;
}
.standard-img{
    width: 100%;
}
.bars{
    float: left;
    margin: 0%;
    padding: 25px;
    height: 32px;
    transition: background-color .25s;
    background-color: rgb(255,255,255);
    color: black;
    font-weight: lighter;
}
.bars:hover{
    background-color: rgb(240,240,240);
}
