@media only screen and (max-width: 600px) {
    .half-width{
        width: 100% !important;
    }
    .half-height{
    }
    #button2{
        margin-left: 65vw !important;
    }
    .slideButton{
        width: 15vw !important;
    }
}
.half-width{
    width: 50%;
    padding: 0vw;
}
a{
    text-decoration: none;
    color: darkslategray;
}
.half-height{
    height: 50vh;
}
.fancy-slideshow-img{
    position: relative;
    top: 0vh;
    width: 0vw;
    height: 50vh;
    float: left;
}
.leftForward{
    animation: slideSide .5s ease-out;
    z-index: 0;
    opacity: 0;
}
.rightForward{
    z-index: 1;
}
.stay{
    z-index: 0;
    opacity: 0;
}
/* @keyframes slideSide{
	0%{left: 0vw;
        z-index: 2;
        opacity: 1;
    }
	100%{left: -50vw;     
        z-index: 2;
        opacity: 1;
    }
}

@-webkit-keyframes slideSide{
	0%{left: 0vw;}
	100%{left: -50vw;}
} */
#welcomeText{
    font-size: 1.5em;
    padding: 1.5em;
    margin: auto;

}
#welcomeTextDiv{
    z-index: 1;
    position: relative;
    overflow-y: scroll;

    background-color: rgb(245, 245, 245);

}
#welcomeTextDiv::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(245, 245, 245);
}
.full-container{
    width: 100%;
    object-fit: cover;
}
.left{
    float: left;
    overflow: hidden;
}
.right{
    float: right;
    overflow: hidden;
}
.margin1{
    top: 0vh;
}
.margin2{
    top: -50vh;
}
.margin3{
    top: -100vh;
}
.slideButton{
    position: relative;
    top: -150vh;
    z-index: 5;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    width: 5vw;
    height: 10vh;
    margin-top: 20vh;
}
#button1{
    transform: rotate(90deg);
    filter: invert(100%);

}
#button2{
    transform: rotate(270deg);
    filter: invert(100%);
    margin-left: 79%;
}