.cardContainer{
    width: 25vw;
    margin: 1.25vw;
    height: 25vw;
    position: relative;
    float: left;
    background-color: rgb(250,250,250);
    border-radius: 10px 10px 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.project-column{
    overflow: auto;
    width: 100vw;
    z-index: 0;
    padding-bottom: 5vh;
}
.projectTitle{
    font-size: 50px;
    margin-left: 10vw;
    margin-top: 5vh;
}
/* .cardContainer:hover{
    margin: 0vw;
    width: 27.5vw;
    height: 27.5vw;
}
.cardContainer:hover>*{
    filter:  opacity(50%);
} */
.projectImagesDiv{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
#projectTextDiv{
    position: relative;
    top: -25vw;
    text-align: center;
    width: 27.5vw;
    height: 25vw;
}
.projectText{
    margin: 0px;
    font-weight: 900;
    padding-top: 10vw;
    font-size: 2.5vw;
    color: black;
}

.projectImages{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px;

}
/* #firstInRow{
    margin-left: 10vw !important;
}
#firstInRow:hover{
    margin-left: 8.75vw !important;
} */