.flex {
    display: flex;
}
.home {
    flex-direction: row;
    height: 105vh;
    background-color: rgb(255, 255, 255);

    width: 100%; /* this one change gets rid of scrollbars on windows lol */
}
.title-container {
    /* width: 50%; */
    height: auto;
    color: black;
    position: absolute;
    left: 0%;
    padding-left: 5rem;
    top: calc(100% - 7.5rem);
    z-index: 5;
    color: white;
    text-align: left;
    display: flex;
}
.main-chevron-container {
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 4rem;
    width: 5rem;
    transition: transform 0.75s;
}
.main-chevron-container:hover {
    transform: rotate(359deg);
}
.main-chevron {
    /* width: 100%; */
    height: 100%;
    width: auto;
    /* filter: invert(); */
    filter: invert() drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}
.main-title {
    font-size: 5rem;
    margin: 0px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
/* .image-container {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.slide-img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: bottom left;
    position: absolute;
    background-size: cover;
    background-position: center center;

    transition: 0.125s transform;
    top: 0%;
    left: 0%;
    cursor: pointer;
}
.actual-img-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.triangle-beneath {
    position: absolute;
    top: 100%;
    height: calc(5% + 1px);
    z-index: 5;
    fill: rgb(231, 106, 116);
}
.triangle-beneath2 {
    position: absolute;
    top: 105%;
    height: calc(5% + 1px);
    z-index: 5;
    fill: white;
    background-color: rgb(231, 106, 116);
}
.title-container-mobile {
    height: auto;
    color: black;
    position: absolute;
    left: 0%;
    padding-left: 1rem;
    top: calc(100% - 15rem);
    z-index: 5;
    color: white;
    text-align: left;
    display: flex;
}
