@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    font-family: "Open Sans", sans-serif;
    --accent: rgb(77, 150, 199);
}

::selection {
    background: rgb(181, 218, 240);
}
html {
    scroll-behavior: smooth;
}
